@import "variables"; // продублировано из styles.scss, чтобы переменные не подсвечивались


.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $input-font-size-base, $line-height-base, $btn-border-radius-base, $input-height-base);
  user-select:none;
  position: relative; // для вставляемого внутрь ajax throbber
  transition: all 200ms;

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled,
  &[disabled],
  &.btn-disabled,
  fieldset[disabled] & {
    cursor: not-allowed;
    opacity: $input-disabled-opacity;
    pointer-events: none;
    box-shadow: none;
  }

  &:not(:last-child) { margin-right: 1rem; }  // отбивка для рядом стоящих кнопок

  &.btn-static {} // для кнопок, не меняющих состояние при наведении

  &.btn-outline.btn-default   { @include button-variant($btn-default-color, transparent, $btn-default-color, $btn-default-h-color, transparent, $btn-default-h-color); }
  &.btn-outline.btn-white     { @include button-variant(#fff, transparent, #fff); }
  &.btn-outline.btn-brand,
  &.btn-outline.btn-primary   { @include button-variant($btn-primary-bg, transparent, $btn-primary-border, $btn-primary-h-bg, transparent, $btn-primary-h-border); }
  &.btn-outline.btn-danger    { @include button-variant($btn-danger-bg, transparent, $btn-danger-border, $btn-danger-h-bg, transparent, $btn-danger-h-border); }
  &.btn-outline.btn-warning   { @include button-variant($btn-warning-bg, transparent, $btn-warning-border, $btn-warning-h-bg, transparent, $btn-warning-h-border); }

  &.btn-badge { font-size: .6rem; }

  // кнопка-иконка, без рамок и фона
  &.btn-icon {
    border: none;
    background: none;
  }
  // кнопка с текстом и иконкой
  &.btn-with-icon {
    i { position: absolute; left: $padding-base-horizontal; top: $padding-base-vertical; }
    &.btn-sm i,
    &.btn-small i { left: $padding-small-horizontal; top: $padding-small-vertical; }
    &.btn-lg i,
    &.btn-large i { left: $padding-large-horizontal; top: $padding-large-vertical; }
  }
  &.btn-with-icon-right .icon { margin-left: .8em; }
  &.btn-with-icon-left .icon { margin-right: .8em; }

  &.btn-wide { padding-left: 1em*3; padding-right: 1em*3; }
  &.btn-full-wide,  // уст.
  &.btn-full-width { width: 100%; }
  &.btn-full-height {
    display: inline-flex; justify-content: center; align-items: center;
    height: 100%;
  }

  &.btn-underline {
    flex-direction: column;
    &:after {
      content: ' ';
      background-color: #fff;
      display: block;
      width: 4rem; height: 1px;
      margin: 8px auto 0;
      transition: width 200ms;
    }
    &:hover:after {
      width: 5rem;
    }
  }

  &.btn-uppercase {
    font-weight: 500;
    text-transform: uppercase;
  }

  &.btn-file {
    position: relative;
    overflow: hidden;
    justify-content: center;
    min-width: 2rem;
    input[type=file] {
      background: white;
      display: block;
      position: absolute; top: 0; right: 0;
      min-width: 100%; min-height: 100%;
      font-size: 100px; text-align: right;
      filter: alpha(opacity = 0);
      opacity: 0;
      outline: none;
      cursor: inherit;
    }
  }
}

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border, $btn-default-h-color, $btn-default-h-bg, $btn-default-h-border);
}
.btn-brand,
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border, $btn-primary-h-color, $btn-primary-h-bg, $btn-primary-h-border);
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border, $btn-success-h-color, $btn-success-h-bg, $btn-success-h-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border, $btn-info-h-color, $btn-info-h-bg, $btn-info-h-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border, $btn-warning-h-color, $btn-warning-h-bg, $btn-warning-h-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border, $btn-danger-h-color, $btn-danger-h-bg, $btn-danger-h-border);
}

// Make a button look and behave like a link
.btn-link {
  font-weight: 400;
  color: $link-color;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-large,
.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $input-font-size-large, $line-height-large, $btn-border-radius-large, $input-height-large);
}
.btn-small,
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $input-font-size-small, $line-height-small, $btn-border-radius-small, $input-height-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $input-font-size-small, $line-height-small, $btn-border-radius-small, $input-height-small*.89);
}

.badge {
  position: absolute; top: -10px; right: -10px;
  background: $brand-color; border-radius: 999px;
  color: #fff; font-weight: 700;
  padding: .25em .6em;
}

